body{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
}

.div-6{
    width: 60%;
    margin: auto;
    background-color: white;
}
.img-logo{
    width: 20px;
}
.container{
    padding: 10px;
}

.cabecera{
    background-color: darkseagreen;
}

h2{
    color: #333;
}

p{
    font-size: medium;
}